*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Bricolage Grotesque', sans-serif;
    line-height: 1.6;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
}

h1,
h2,
h3,
p {
    margin: 0;
    font-family: 'Bricolage Grotesque', sans-serif;

}

section {
    padding: 7em 0;
}



/* navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2B2D42;
    color: #E70F72;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    font-style: bold;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;

}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    color: #F3E333;
    text-decoration: none;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    display: block;
}

.navbar-links li:hover {
    background-color: #434343;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .flex-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .toggle-button {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        text-align: center;
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

}


.flex-child {
    flex: 1;
    align-items: center;
    width: 50%; 

    /* margin: 0 auto; */
}

.flex-form {
    flex: 1;
    max-width: 600px;
    width: auto;
    padding: 1em;
    padding-left: 3.5em;
    margin: auto;
}

.spacing>*+* {
    margin-top: var(--spacer, 2rem);
}

.btn {
    margin-bottom: 1vh;
    display: inline-block;
    text-decoration: none;
    color: var(--clr-text, white);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.125rem;
    padding: 0.5em 1.25em;
    background: var(--clr-accent, blue);
    border-radius: .25em;
    transition:
        transform 250ms ease-in-out,
        opacity 250ms linear;
}

.btn:hover,
.btn:focus {
    transform: scale(1.1);
    opacity: .9;
}

a {
    /* color: #ff7996; */
    /* color: white; */
    text-decoration: underline;
    /* text-transform: uppercase; */
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.hero {
    width: 100%;
    color: white;
    text-align: center;
    padding: 5em 0;
    background: #FFEAE6;
    /* background: rgb(250, 232, 27); */
    font-family: 'Bricolage Grotesque', sans-serif;
}

@supports (background-blend-mode: multiply) {
    .hero {
        width: 100%;
        /* background:
            linear-gradient(to top left, rgb(225, 206, 0), rgba(222, 211, 2, 0.52)); */
        background:
            linear-gradient(to top left, #FFEAE6, #fed2c9);
        background-repeat: cover;
        color: white;
        font-family: 'Bricolage Grotesque', sans-serif;
    }
}

input {
    width: 80%;
    /* border-right: none;
    border-top: none;
    border-left: none; */
    background-color: transparent;
    outline: none;
    color: white;
    caret-color: white;
    border-color: #ff7996;
    border-radius: 2em;
    color: rgba(0, 0, 0, 0.777);
}



#email {
    margin-bottom: 1vh;
    height: 30px;
    text-align: center;
    width: clamp(50%, 95%, 1200px);
}

.reCAPTCHA {
    opacity: 65%;
    color: rgb(40, 40, 40);
    font-size: .7rem;
    padding-left: .85em;
    padding-right: .85em;
    /* padding: 1em; */
}

input[type=text]::placeholder {
    text-align: center;
    /* color: white; */
    padding: 0.2em 1em;
}

input[type=submit] {
    background: rgba(255, 255, 255, .2);
    color: black;
    width: 50%;
    padding: 2vh;
    /* border: none; */
    cursor: pointer;
    border-radius: 4px 4px;
    border-color: #ff7996;
}

span {
    position: absolute;
    left: -9999px;
    display: flex;
    border: 2px solid #666;
    min-width: 6em;

    /* min-width: 6em; */
}

.info {
    /* color: #ff7996; */
    font-size: 1.3rem;
    font-weight: 500;
    text-align: left;
    padding: 1em;
    /* margin-top: 1rem; */
    background: #FFEAE6;
    mix-blend-mode: color-burn;
}


.text {
    font-size: clamp(.5rem, 4vw, 1.5rem);
    width: clamp(65%, 95%, 1400px);
    position: left;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
    /* padding: 2rem; */
    width: clamp(95%, 75%);
    text-align: justify;
}

.grecaptcha-badge {
    opacity: 0;
}

.mailInfo {
    font-weight: 600;
    font-size: 1.15rem;
    color: #ff7996;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-left: .85em;
    padding-right: .85em;
}

.spamprotection {
    display: none;
}

.MIDIScale {

    background: -webkit-linear-gradient(315deg, #e43785, #E70F72);
    /* background: -webkit-linear-gradient(315deg, #ff7996, #f3073aae); */
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.primary-title {
    /* font-size: 4rem; */
    font-size: clamp(2.18rem, calc(4.0vw), 3.8rem);
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Bricolage Grotesque', sans-serif;


}

